@import url('https://fonts.googleapis.com/css2?family=Righteous&display=swap');

body {
    font-family: 'Helvetica Neue', Helvetica, Arial, "Lucida Grande", sans-serif;
    box-sizing      : border-box;
}

*{
    line-height: 1.2;
}

main {
    width      : 75%;
    margin-left: 1%;
    margin-top : 4vh;
    padding-left: 7px;
    
}
aside {
    display         : flex;
    flex-direction  : column;
    width           : 25%;
    padding-top     : 20px;
    color           : #fff;
    background-color: #404043;
}

section {
    border-style : solid;
    border-width : 0 0 2px 0;
    margin-bottom: 10px;
    font-size: 26px;
}

img {
    width        : 100%;
    height       : 400px;
    border-radius: 50%;
}

a {
    text-decoration: none;
    color          : inherit;
}

li{
    line-height: 1.6;
    
}
main .content{
    width: 85%;
}
.container{
    background-color: #fff;
    width: 99%;
    margin: 0 auto;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

.template {
    display         : flex;
    flex-direction  : row-reverse;
    background-color: #fff;
    width           : 100%;
    height          : auto;
    padding         : 0;
    border-style: groove;
    border-width: 0px 0px 2px 0px;
}

.content{
    padding: 10px;
}
.feild {
    display       : flex;
    flex-direction: row;
    align-items   : center;
    /* width         : 250px; */
    padding       : 10px;
    color         : #fff;
    padding-left: 3px;
}

.name {
    font-family   : 'Righteous', cursive;
    font-size     : 65px;
    line-height   : 51px;
    color         : #34393E;
    text-transform: uppercase;
}

.heading {
    font-size     : 45px;
    font-weight   : 600;
    line-height: 1.6;
    color         : inherit;
    text-transform: uppercase;
}

.contact {
    font-size   : 28px;
    font-weight : 300;
    color       : #fff;
    padding-left: 10px;
}

.bold {
    font-weight: bold;
}

.section-end {
    border-style: none;
}

.feild-data {
    font-size   : 26px;
    font-weight : 400;
    color       : #fff;
    padding-left: 20px;
}

.job{
    line-height: 2;
}
main li{
    line-height: 1.8;
}

.last-child{
    border: unset;
}

.template-last{
    margin: 0 5vw;
    padding-top: 10px;
    padding-bottom: 10px;
}

.about-body {
    font-style: normal;
    font-weight: 400;
    font-size: 25px;
    line-height: 30px;
    text-align: justify;
    letter-spacing: 0.2px;
    padding-right: 10px;
}
